@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-in {
    animation-duration: 150ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .slide-in-from-top-5 {
    animation-name: slide-in-from-top-5;
  }
  
  @keyframes slide-in-from-top-5 {
    from {
      transform: translateY(-1.25rem);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
